:root {
    --background-primary: #121212;
    --background-secondary: #1e1e1e;
    --background-input: #2b2b2b;

    --text: #f2f2f2;
    --text-colored: #16b1d0;
    --text-darker: #bfc2c3;
    --text-muted: #81888e;
}
