@keyframes _9byavn2 {
  0% {
    opacity:0
  }
  to {
    opacity:1
  }
}
._9byavn0 {
  width:186px;
  position:fixed;
  top:0;
  background-color:#1e1e1e;
  display:flex;
  flex-direction:column;
  flex-shrink:0;
  height:auto;
  transition:all .5s ease-in-out;
  padding:60px 0 1rem;
  z-index:998
}
._9byavn0.expanded {
  margin-left:0;
  visibility:visible
}
._9byavn1 {
  padding-left:0;
  padding-bottom:1rem;
  margin-bottom:auto;
  height:calc(100vh - 54px);
  display:flex;
  flex-direction:column;
  list-style:none;
  flex-wrap:nowrap;
  overflow:auto;
  overflow-x:hidden;
  overflow-y:overlay
}
._9byavn3 {
  position:fixed;
  width:100%;
  height:100%;
  opacity:1;
  background:rgba(0,0,0,.7);
  z-index:997;
  transition:opacity .5s ease-in-out;
  animation-name:_9byavn2;
  animation-iteration-count:1;
  animation-duration:1s
}
._9byavn4 {
  position:absolute;
  margin-left:12px;
  display:flex
}
._9byavn5 {
  padding:.25rem 0;
  margin-right:1rem;
  border:none;
  display:none;
  font-size:1.25rem;
  line-height:1;
  background-color:#0000;
  color:#ffffff8c;
  border-color:#ffffff1a;
  border-radius:.25rem;
  transition:box-shadow .15s ease-in-out
}
._9byavn5:focus {
  box-shadow:0 0 0 .25rem
}
._9byavn6 {
  display:inline-block;
  width:1.5em;
  height:1.5em;
  vertical-align:middle;
  background-repeat:no-repeat;
  background-position:center;
  background-size:100%;
}
._9byavn7 {
  display:flex;
  align-items:center;
  padding:.5rem .7rem .5rem 1rem;
  text-decoration:none;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}
._9byavn7.active {
  background-color:#15667a
}
._9byavn7.disabled {
  color:#6c757d;
  pointer-events:none;
  cursor:default
}
._9byavn7:not(.disabled) {
  color:#ced4da
}
._9byavn7:hover {
  color:#81888e!important
}
._9byavn7:not(.active) svg {
  color:#81888e!important
}
._9byavn7>svg:first-of-type {
  width:1.3rem;
  text-align:center;
  margin-right:.5rem
}
._9byavn8 {
  border-top:1px solid #444;
  margin-top:.5rem;
  margin-bottom:.25rem;
  padding:.5rem 0 0 1rem;
  color:#81888e;
  font-size:.9rem
}
@media (max-width: 1500px) {
  ._9byavn0 {
    position:fixed;
    left:0;
    margin-left:-240px;
    visibility:hidden
  }
  ._9byavn5 {
    display:block
  }
}
@media (min-width: 1501px) {
  ._9byavn3 {
    opacity:0
  }
  ._9byavn4 {
    margin-left:-224px
  }
}
._1c6r1e70 {
  position:fixed;
  width:100%;
  z-index:999;
  background-color:#1a1a1a;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
  padding:.5rem 0
}
._1c6r1e71 {
  display:flex;
  flex-wrap:inherit;
  align-items:center;
  justify-content:space-between;
  padding:0 1.5rem
}
._1c6r1e72 {
  margin-left:auto;
  flex-direction:row;
  display:flex;
  list-style:none;
  padding-left:0;
  margin-bottom:0
}
._1c6r1e73 {
  color:#ffffff8c;
  display:block;
  padding:.5rem 0;
  cursor:pointer;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  white-space:nowrap
}
._1c6r1e73:focus {
  color:#ffffffbf
}
._1c6r1e74 {
  padding:.3125rem 0;
  margin-right:1rem;
  font-size:1.25rem;
  color:#fff
}
._1c6r1e74:hover {
  color:#fff
}
._1c6r1e75 {
  display:flex;
  flex-wrap:wrap;
  list-style:none;
  padding-left:0;
  margin-bottom:0;
  background-color:unset;
  border-bottom:1px solid #484848
}
._1c6r1e76 {
  color:#81888e;
  display:block;
  padding:.5rem 1rem;
  margin-bottom:-1px;
  background:none;
  border:1px solid rgba(0,0,0,0);
  border-top-left-radius:.25rem;
  border-top-right-radius:.25rem;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}
._1c6r1e76:hover {
  border-color:#15667a
}
._1c6r1e76.active {
  color:#e1e1e1;
  background-color:#1e1e1e;
  border-color:#484848;
  border-bottom-color:#1e1e1e
}
._1c6r1e75>.tab-content {
  background-color:#1e1e1e
}
._1c6r1e77 {
  background-color:#1e1e1e;
  padding:.5rem 1rem;
  display:none
}
._1c6r1e77.active {
  display:block
}
@media (min-width: 1501px) {
  ._1c6r1e70 {
    padding-left:240px
  }
}
._11lix3b0 .header img.avatar {
  max-height:5rem;
  max-width:5rem;
  border-radius:5rem;
  margin-right:1rem
}
._15ryw140 {
  width:1.5rem;
  height:1.5rem;
  cursor:pointer
}
._15ryw141 {
  transform:rotate(90deg)
}
._15ryw142 {
  transform:rotate(-90deg)
}
._15ryw143 {
  filter:brightness(50%);
  cursor:not-allowed
}
._15ryw144 {
  width:1rem;
  height:1rem;
  align-self:center
}
._15ryw145 {
  opacity:.5;
  transition:opacity 1s ease
}
._15ryw145:hover {
  opacity:1
}
._1he3xh0 {
  background-color:#1e1e1e;
  flex-direction:column;
  display:flex;
  background-clip:content-box;
  position:relative
}
._1he3xh1 {
  width:100%;
  aspect-ratio:4/1;
  cursor:pointer
}
._1he3xh2 {
  position:absolute;
  left:-1.5em;
  font-size:1.1rem;
  transition:all .15s ease-in-out;
  cursor:pointer;
  color:#81888e
}
._1he3xh2:hover {
  scale:1.05
}
._1he3xh2:active {
  color:#bf9d31
}
._1he3xh3 {
  display:flex;
  align-items:center;
  justify-content:space-between
}
._1he3xh3>img {
  width:25%;
  aspect-ratio:1
}
._1he3xh4 {
  display:flex;
  text-align:center;
  font-weight:700;
  flex-direction:column;
  height:auto;
  flex-grow:1;
  justify-content:space-between;
  margin:0 .5em .5em
}
._1he3xh5 {
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  margin:.5em 2em 0
}
._1he3xh6 {
  font-weight:700;
  font-size:large;
  cursor:pointer;
  color:#16b1d0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}
._1he3xh7 {
  font-size:.7rem;
  vertical-align:top;
  margin-left:.5em
}
._1he3xh8 {
  font-weight:700;
  font-size:small;
  margin-bottom:.5rem;
  display:flex;
  column-gap:.5rem;
  justify-content:center;
  align-items:center
}
._1he3xh9 {
  display:inline-block;
  background-color:#3c3c3c;
  line-height:1.2rem;
  width:1.4rem;
  height:1.4rem;
  border-radius:4px;
  padding:.15rem;
  font-size:smaller;
  margin-left:.3rem
}
._1he3xha {
  text-align:center;
  position:relative;
  font-size:.9rem;
  line-height:1;
  margin-bottom:.5rem
}
._1he3xha>span {
  display:inline-block;
  text-overflow:ellipsis;
  text-transform:capitalize;
  overflow:hidden;
  max-width:34%;
  white-space:nowrap
}
._1he3xha>span:first-of-type {
  position:absolute;
  left:.5rem
}
._1he3xha>span:last-of-type {
  position:absolute;
  right:.5rem
}
._1he3xhb {
  margin:0 .5rem .5rem;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size:13px;
  font-weight:700;
  color:#81888e
}
._1he3xha svg,
._1he3xhb svg {
  margin-right:.5rem;
  color:#81888e
}
._1he3xhc {
  width:100%;
  margin:.25rem 0 .5rem;
  display:flex;
  gap:.5rem;
  position:relative;
  font-size:.9rem;
  align-items:center
}
._1he3xhd {
  position:absolute;
  right:-1.5em;
  color:#81888e;
  cursor:pointer;
  font-size:1.1rem
}
._1gc8fw10 {
  width:3rem;
  display:block;
  text-align:center
}
._1gc8fw10:before {
  padding:.1rem .4rem;
  border-radius:.4rem;
  line-height:1.1rem;
  font-weight:700;
  font-size:.8rem
}
._1gc8fw11:before {
  content:"ALL";
  background-color:#0e624b
}
._1gc8fw12:before {
  content:"ANY";
  background-color:#1f5e82
}
._1gc8fw13:before {
  content:"ONLY";
  background-color:#662e6f
}
