body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #121212;
    color: #f2f2f2;
    margin: 0;
    display: block;
    overflow: hidden;
}

path,
svg {
    pointer-events: none;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

notification {
    background-color: #1e1e1e;
    border: #13596b solid 1px;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    font-size: medium;

    align-self: center;

    user-select: none;

    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);

    transition: 125ms ease-in-out;
}

notification:hover {
    opacity: 1 !important;
}

notification.show {
    bottom: 20px;
    opacity: .8;
}

.svg-inline {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}

.topbar {
    display: flex;
    background-color: #1a1a1a;
    height: 45px;
    width: calc(100% - 185px);
    position: absolute;
    right: 0;
}

.topbar-button {
    cursor: pointer;
    background-color: #15667a;
    color: #f2f2f2;
    font-size: 15px;

    /*height: 100%;*/

    border-style: solid;
    border: 1px solid #15667a;
    border-radius: 5px;

    position: absolute;
    /* to make it relative to the parent div */
    right: 0;
    /* move to the left */
    margin: 5px 10px;

    padding: 4px 16px;

    transition: 125ms;
}

.topbar-button:hover {
    background-color: #13596b;
}

.topbar-button:active {
    background-color: #0f4d56;
}

.flex-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #1e1e1e;
    margin-left: 0px;
    height: 100%;
    width: 185px;

    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-button {
    cursor: pointer;
    background-color: #1e1e1e;
    color: #bfc2c3;
    font-size: 15px;
    height: 45px;
    width: calc(100%);
    border: none;

    transition: 125ms;
}

.sidebar-button:hover {
    color: #7b7c7f;
    /* background-color: #1b1b1b; */
}

.sidebar-button:active {
    background-color: #15667a;
}

.sidebar-button-active {
    background-color: #15667a;
}

/*
.sidebar-button-active:hover {
    background-color: #135c6e;
} */

.sidebar-title {
    margin: 15px 0 0 0;
    text-align: center;
}

.sidebar-caption {
    color: #5c5c5c;
    font-size: 15px;
    margin: 5px 0 0 10px;
    align-self: flex-start;
}

.sidebar-section {
    width: 90%;
    height: 1px;
    margin-top: 15px;
    background-color: #5c5c5c;
}

.main-section {
    width: 95%;
    height: 1px;
    margin-top: 35px;
    background-color: #5c5c5c;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;

    position: absolute;
    bottom: 10px;

    font-size: 10px;
    font-style: italic;
    color: #5c5c5c;
}

.webview-container {
    width: calc(100% - 185px);
    height: 100%;
    display: none;
    overflow-y: auto;
}

/* new manage packs tiles */

.manage-pack-tile-container {
    padding: 5px;
    transition: 125ms;
    max-width: 100%;
}

.manage-pack-tiles {
    display: flex;
    flex-wrap: wrap;
    padding: 0 19px;
}

@media (min-width: 1860px) {
    .manage-pack-tiles>* {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (min-width: 1400px) and (max-width: 1859px) {
    .manage-pack-tiles>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}

@media (min-width: 930px) and (max-width: 1399px) {
    .manage-pack-tiles>* {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (max-width: 929px) {
    .manage-pack-tiles>* {
        flex: 0 0 auto;
        width: 100%;
    }
}

.manage-pack-tile {
    background-color: #1e1e1e;
    border-radius: 3px;
    border: 3px solid #1e1e1e;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    transition: 125ms;
}

.manage-pack-tile:hover {
    border-color: #073c49 !important;
}

.manage-pack-tile-pack-active {
    border-color: #13596b !important;
}

.manage-pack-tile>* {
    pointer-events: none;
    user-select: none;
}

.manage-pack-tile-image-container {
    background: #282828;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.manage-pack-tile-image {
    max-width: 100%;
    border-radius: 5px;
}

.manage-pack-tile-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
}

.manage-pack-tile-name {
    margin: 0;
    margin-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    max-width: 60%;

    font-weight: 700;
    font-size: large;
    color: #16b1d0;
}

.manage-pack-tile-pack-version-container {
    background-color: #282828;
    border-radius: 5px;
    padding: 3px;
    margin-right: 10px;
    margin-bottom: 4px;
    width: fit-content;
}

.manage-pack-tile-pack-version {
    margin: 0;
    margin-bottom: -4px;
    font-size: x-small;
    font-weight: 600;
    color: #bfc2c3;
}

.manage-pack-tile-game-version-svg {
    scale: .8;
    margin-right: 2px;
    margin-bottom: 4px;
    color: #bfc2c3;
}

.manage-pack-tile-game-version {
    margin: 0;
    font-size: small;
    color: #bfc2c3;
    max-width: 33%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.manage-pack-tile-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
}

.manage-pack-tile-content-svg {
    color: #bfc2c3;
    scale: .8;
    margin-bottom: 4px;
}

.manage-pack-tile-content {
    margin: 0;
    max-width: 95%;
    font-size: small;
    color: darkgray;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.manage-pack-tile-delete {
    width: 38px;
    height: 38px;
    background-color: #842828;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #642828;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: .5;
    pointer-events: all;
    transition: 125ms;

    display: flex;
    align-items: center;
    justify-content: center;
}

.manage-pack-tile-delete:hover {
    opacity: 1;
}

.manage-pack-tile-update {
    width: 38px;
    height: 38px;

    background-color: #073c49;
    color: #f2f2f2;
    border: solid 1px #06323d;
    border-radius: 5px;
    padding: 3px;

    position: absolute;
    right: 48px;
    top: 5px;
    opacity: .5;

    /* transform: rotate(90deg); */
    pointer-events: all;
    transition: 125ms;
}

.manage-pack-tile-update:hover {
    opacity: 1;
}

/* Pack order elements */

.pack-order-container-outer {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 40px 0 20px 0;
}

.pack-order-container {
    width: 100%;
    height: 110px;
    padding: 15px 25px;
}

.pack-order {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;

    position: relative;

    background-color: #1e1e1e;
    border-radius: 3px;
}

.pack-order-grab {
    fill: #f2f2f2;

    align-self: center;

    margin: 0px 20px;

    cursor: grab;
}

.pack-order-image-container {
    padding: 5px;
    margin: 5px;
}

.pack-order-image {
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 120px;

    object-fit: contain;
}

.pack-order-info {
    color: #f2f2f2;
    margin: 5px 10px;

    max-width: calc(100% - 450px);

    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: 125ms;
}

@media (max-width: 799px) {
    .pack-order-info {
        opacity: 0;
    }
}

.pack-order-info-title {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

.pack-order-info-content {
    color: #5c5c5c;
    display: flex;

    flex-direction: row;
    align-content: center;
}

.pack-order-info-content-icon {
    align-self: center;
    min-width: 18px;
}

.pack-order-info-content-label {
    max-width: 100%;

    margin-left: 5px;

    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

.pack-order-dropdown-container {
    position: absolute;
    right: 0;
    align-self: center;

    margin: 0px 15px;
}

.pack-order-dropdown {
    background-color: #1e1e1e;
    color: #f2f2f2;

    border: none;
    border-radius: 3px;

    padding: 5px;
}

.pack-order-preview {
    opacity: .7;
}

.pack-order-dragged {
    opacity: .3;
}

/* Options */

.flex-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: start;
}

.options-text-input {
    width: 80%;
}

.dbd-path-button {
    margin-left: 5px;
    width: 38px;
    height: 38px;

    background-color: #2b2b2b;

    border: solid 1px #2b2b2b;
    border-radius: 5px;

    padding: 3px;

    transition: 125ms;
}

.dbd-path-button:hover {
    background-color: #282828;
    border-color: #282828;
}

.container_options {
    width: 100%;
}

.container_options_title {
    margin-bottom: 5px;
}

.container_options_title_text {
    margin: 0;
    color: #5c5c5c;
}

.container_options_content {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_options_clear_cache {
    margin-top: 25px;
}

.button_options_clear_cache {
    color: #f2f2f2;
    background-color: #2b2b2b;

    font-size: medium;

    height: 38px;

    margin-right: 5px;

    padding: 3px 8px !important;

    border: solid 1px #2b2b2b;
    border-radius: 5px;

    padding: 3px;

    transition: 125ms;
}

.button_options_clear_cache:hover {
    background-color: #282828;
    border-color: #282828;
}

.button_options_clear_cache:active {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}

.label_options_cache_size {
    color: #3c3c3c;
}

.label-options-toggle {
    color: #81888e;
    margin-left: 5px;
}

.button-toggle-autoupdate-pack-check-now {
    color: #f2f2f2;
    background-color: #2b2b2b;
    height: 38px;
    border: solid 1px #2b2b2b;
    border-radius: 5px;
}

.button-toggle-autoupdate-pack-check-now:hover {
    background-color: #282828;
    border-color: #282828;
}

.button-toggle-autoupdate-pack-check-now:active {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}

.label-options-autoupdate-app-new {
    margin: 0;
    margin-left: 25px;
    background-color: #1e1e1e;
    border: #13596b solid 1px;
    border-radius: 5px;
    padding: 0 2px;
}

.checkbox-options {
    background-color: #2b2b2b;
    height: 28px;
    width: 28px;
    border: solid 1px #2b2b2b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 125ms;
    user-select: contain;
}

.checkbox-options:hover {
    background-color: #282828;
    border-color: #282828;
}

.checkbox-options:active {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}

.checkbox-options>* {
    pointer-events: none;
}

.filter_shortcut_active {
    background-color: #3a3a3a;
    border-color: #313131;
}

.button_icons_revert {
    padding: 7px 12px 8px 12px !important;
}

.container_varaiants {
    display: flex;
    justify-content: center;
    align-content: center;

    max-height: 27.5px;

    width: 100%;
}

.button_variant {
    user-select: none;
    position: absolute;

    color: #f2f2f2;
    cursor: pointer;

    margin: 2px;
    padding: 4px;
}

.button_variant:hover {
    color: #c2c2c2;
}

.button_variant_next {
    right: 0px;
    rotate: 180deg;
}

.button_variant_prev {
    left: 0px;
}

.description_variant {
    font-size: 0px;

    cursor: default;

    background-color: #3c3c3c;

    transition: 125ms ease-in-out;
}

.description_variant_visible {
    font-size: small;

    border-radius: 3px;
    border-style: none;

    margin: 2px 4px;
    padding: 2px 4px;
}

.description_variant_active {
    background-color: #073c49;
}

.supporter-icon {
    margin-left: 5px;
}

.pack_tile {
    height: 100%;
}

.pack_content {
    max-width: 90%;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

.pack_stats {
    position: relative;
}

.dbd_version {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

.open_link {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.disabled {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    pointer-events: none !important;
    cursor: default;

    opacity: .8;
}

/* changes to nightlight-styles.css */

.container {
    max-width: 100vw;
}

main {
    margin: 20px 20px 0px 0px;
}

.button_icons_revert {
    margin-bottom: 5px;
}